:root {
  --main-color: #1e3d59;
  --accent-color: #f5f0e1;
  --highlight-color: #ff6e40;
  --font-main: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-main);
  line-height: 1.6;
  background: var(--accent-color);
  color: var(--main-color);
}


header {
  background: var(--main-color);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
}

main {
  padding: 2rem;
  flex: 1;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

section img {
  width: 100%;
  max-width: 500px;
  margin-top: 1rem;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section p {
  padding: 20px;
}

.contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sprzet {
  width: 100%;
  max-width: 1000px
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: var(--main-color);
  color: white;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

footer {
  background: var(--main-color);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background: var(--main-color);
    position: absolute;
    right: 0;
    top: 60px;
    width: 200px;
  }

  nav ul.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
